h1, h2, h3, h4, p, ul, input {
    padding: 0;
    margin: 0;
    /* z-index: 0; */
}

/* section {
    margin-bottom: 110px;
} */

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

/* icon 사용 */
span {
    position: absolute;
}

/* HEADER */
header {
    width: 100%;
    height: 100px;
    padding: 20px;
    border-bottom: 2px solid purple;
    box-shadow: 0 10px 4px -4px rgb(232, 232, 232);
    margin-bottom: 30px;
}

header h1 {
    color:purple;
    padding-left: 7px;
}

header .top_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

header ul.sub_menu {
    display: flex;
    font-size: 15px;
    text-align: right;
}

header ul.sub_menu>li {
    padding-right: 20px;
}

header ul.sub_menu>li:last-child {
    padding-right: 35px;
}

header ul.sub_menu>li a {
    color: rgb(80, 80, 80);
}

header ul.main_menu {
    display: flex;
}

header ul.main_menu li {
    font-size: 25px;
    padding-right: 60px;
    cursor: pointer;
}

header ul.main_menu>li:first-child {
    font-weight: 700;
}

header ul.main_menu ul {
    z-index: 9999;
    font-weight: 400;
    border: 2px solid purple;
    margin-top:7px;
    padding: 8px 10px;
    border-radius: 0.5ch;
    background-color: rgb(243, 243, 243);
}

header ul.main_menu ul.cartoon_type_1, ul.cartoon_type_2, ul.cartoon_type_3 {
    display: none;
}

header ul.main_menu ul>li {
    z-index: 9;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
}

header ul.main_menu ul>li:hover {
    background-color: rgb(228, 228, 228);
}

header select {
    /* display: none; */
}


/* SECTION */
section h3 {
    margin: 0px 0px 10px 30px;
}

section .book_setting {
    display: flex;
    justify-content: right;
    margin: 20px 0px;
}

section input {
    padding: 0px 10px;
    margin-right: 10px;
    border-radius: 0.5ch;
    border: 2px solid purple;
    outline: none;
    font-size: 18px;
}

section button {
    width: 100px;
    height: 40px;
    color: purple;
    font-size: 18px;
    margin-right: 5.5px;
    background-color: white;
    border-radius: 0.5ch;
    border: 2px solid purple;
    cursor: pointer;
}

section button:hover {
    color: white;
    background-color: purple;
    transition: 0.2s;
}

section table {
    width: 100%;
    border-top: 2px solid purple;
    border-bottom: 2px solid purple;
    box-shadow: 0px 4px 4px -4px rgb(232, 232, 232);
    padding: 10px 0px;
}

section td {
    height: 40px;
    font-size: 18px;
}

section thead td {
    font-weight: 700;
    color: white;
    background-color: rgb(82, 169, 80);
    text-align: center;
}

section thead td:first-child {
    width: 55%;
}

section thead td:last-child {
    width: 22%;
}

section tbody tr {
    background-color: rgb(217, 236, 239);
}

section tbody td {
    padding: 0px 15px;
}

section tbody tr td:nth-child(2) {
    text-align: center;
}

section tbody tr td:last-child {
    text-align: right;
}

/* FOOTER */
footer ul {
    width: 100%;
    display: flex;
    margin: 15px 0px;
    justify-content: center;
}

footer ul>li {
    font-size: 12px;
    padding: 0px 5px;
    font-weight: 700;
}

footer ul>li a {
    color: rgb(72, 72, 72);
}

footer p {
    font-size: 12px;
    font-weight: 700;
    padding-top: 4px;
    text-align: center;
}