* {
    padding: 0;
    margin: 0;
    /* z-index: 0; */
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

/* SECTION */
section h3 {
    margin: 60px 0px 10px 30px;
}

section .book_setting {
    display: flex;
    justify-content: right;
    margin: 20px 0px;
}

section input#search {
    height: 40px;
    padding: 0px 10px;
    margin-right: 10px;
    border-radius: 0.5ch;
    border: 2px solid purple;
    outline: none;
    font-size: 18px;
}

section button, input#button {
    width: 100px;
    height: 40px;
    color: purple;
    font-size: 18px;
    margin-right: 10px;
    background-color: white;
    border-radius: 0.5ch;
    border: 2px solid purple;
    cursor: pointer;
}

section button:hover {
    color: white;
    background-color: purple;
    transition: 0.2s;
}

section input#button:hover {
    color: white;
    background-color: purple;
    transition: 0.2s;
}

section table {
    width: 100%;
    border-top: 2px solid purple;
    padding: 10px 0px;
   	max-height: 300px;
}

section td {
    height: 40px;
    font-size: 18px;
}

section thead td {
    font-weight: 700;
    color: white;
    background-color: rgb(82, 169, 80);
    text-align: center;
}

section thead td:first-child {
    width: 55%;
}

section thead td:last-child {
    width: 22%;
}

section tbody tr {
    background-color: rgb(217, 236, 239);
    height: 50px;
}

section tbody td {
    padding: 0px 15px;
}

section tbody tr td:nth-child(2) {
    text-align: center;
}

section tbody tr td:last-child {
    text-align: right;
}