* {
    padding: 0;
    margin: 0;
    /* z-index: 0; */
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

/* HEADER */
header {
    width: 100%;
    height: 100px;
    padding: 20px;
    border-bottom: 2px solid purple;
    box-shadow: 0 10px 4px -4px rgb(232, 232, 232);
    margin-bottom: 100px;
}

header h1 {
    color:purple;
    padding-left: 7px;
}

header .top_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

header ul.sub_menu {
    display: flex;
    font-size: 15px;
    text-align: right;
}

header ul.sub_menu>li {
    padding-right: 20px;
}

header ul.sub_menu>li:last-child {
    padding-right: 35px;
}

header ul.sub_menu>li a {
    color: rgb(80, 80, 80);
}

header ul.main_menu {
    display: flex;
}

header ul.main_menu li {
    font-size: 25px;
    padding-right: 60px;
    cursor: pointer;
}

header ul.main_menu>li:first-child {
    font-weight: 700;
}

header ul.main_menu ul {
    z-index: 9999;
    font-weight: 400;
    border: 2px solid purple;
    padding: 5px 10px;
    border-radius: 0.5ch;
    background-color: rgb(243, 243, 243);
}

header ul.main_menu ul.cartoon_type_1, ul.cartoon_type_2, ul.cartoon_type_3 {
    display: none;
}

header ul.main_menu ul.cartoon_type_1:hover, ul.cartoon_type_2:hover, ul.cartoon_type_3:hover {
    display: block;
}

header ul.main_menu ul>li {
    z-index: 9;
    font-size: 17px;
    padding: 4px 4px 1px 4px;
    cursor: pointer;
}

header ul.main_menu ul>li:hover {
    background-color: rgb(228, 228, 228);
}
