* {
    padding: 0;
    margin: 0;
    /* z-index: 0; */
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

/* HEADER */
header {
    width: 100%;
    height: 100px;
    padding: 20px;
    border-bottom: 2px solid purple;
    box-shadow: 0 10px 4px -4px rgb(232, 232, 232);
    margin-bottom: 130px;
}

header h1 {
    color:purple;
    padding-left: 7px;
}

header .top_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

header ul.sub_menu {
    display: flex;
    font-size: 15px;
    text-align: right;
}

header ul.sub_menu>li {
    padding-right: 20px;
}

header ul.sub_menu>li:last-child {
    padding-right: 35px;
}

header ul.sub_menu>li a {
    color: rgb(80, 80, 80);
}

header ul.main_menu {
    display: flex;
}

header ul.main_menu li {
    font-size: 25px;
    padding-right: 60px;
    cursor: pointer;
}

header ul.main_menu ul {
    z-index: 9999;
    font-weight: 400;
    border: 2px solid purple;
    margin-top:7px;
    padding: 8px 10px;
    border-radius: 0.5ch;
    background-color: rgb(243, 243, 243);
}

header ul.main_menu .item ul.item_contents {
    display: none;
}

header ul.main_menu .item:hover ul.item_contents {
    display: block;
}

header ul.main_menu ul>li {
    z-index: 9;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}

header ul.main_menu ul>li a:hover {
    background-color: rgb(208, 208, 208);
}
